@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-radius: 0.5rem;
  --ui-container: var(--container-7xl);
}

html {
  background: var(--ui-bg);
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}
